webfont('Museo Sans', '../fonts/museosans_1-webfont', 500)
webfont('Museo Sans', '../fonts/museosans_2-webfont', 700)
webfont('Museo Sans', '../fonts/museosans-webfont', 300)
webfont('Museo Sans', '../fonts/museosans_3-webfont', 900)

webfont('Museo Slab', '../fonts/Museo_Slab_500_2-webfont', 500)


